---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Celestial!";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Astro can be easily modified</h1>

  <h2>My awesome blog subtitle</h2>
</BaseLayout>
